In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("dados/teste.xlsx")
df

,prova_nome,turma,aluno_nome,aluno_login,questao_num,resp_aluno,gabarito,certo_ou_errado,tempo_na_questao(s),np
0,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Leticia da Silva Jucoski,EF067,1,8,46.0,errado,205,6
1,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Leticia da Silva Jucoski,EF067,2,20,53.0,errado,218,6
2,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Leticia da Silva Jucoski,EF067,3,36,61.0,errado,162,7
3,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Leticia da Silva Jucoski,EF067,4,2,3.0,errado,137,4
4,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Leticia da Silva Jucoski,EF067,5,1,37.0,errado,196,6
...,...,...,...,...,...,...,...,...,...,...
75,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Lorena Oliveira Pereira,EF068,36,2,22.0,errado,144,5
76,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Lorena Oliveira Pereira,EF068,37,2,24.0,errado,148,6
77,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Lorena Oliveira Pereira,EF068,38,8,38.0,errado,248,7
78,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Lorena Oliveira Pereira,EF068,39,2,2.0,certo,79,5
79,1º SimUFSC 2020 - 2º Dia,Einstein Floripa - 2020,Lorena Oliveira Pereira,EF068,40,2,20.0,errado,105,6

In [4]:
df[df["aluno_nome"] == "Maria Eduarda da Silva Ramos"]

Empty DataFrame
Columns: [prova_nome, turma, aluno_nome, aluno_login, questao_num, resp_aluno, gabarito, certo_ou_errado, tempo_na_questao(s), np]
Index: []

In [5]:
df.columns

Index(['prova_nome', 'turma', 'aluno_nome', 'aluno_login', 'questao_num',
       'resp_aluno', 'gabarito', 'certo_ou_errado', 'tempo_na_questao(s)',
       'np'],
      dtype='object')

In [6]:
df.drop(columns=['prova_nome', 'turma',  'aluno_login'], inplace=True)

In [7]:
df.fillna(0,inplace=True)

In [8]:
df["gabarito"] = df["gabarito"].astype(int)
df[["resp_aluno","gabarito"]] = df[["resp_aluno","gabarito"]].astype(int)
df

,aluno_nome,questao_num,resp_aluno,gabarito,certo_ou_errado,tempo_na_questao(s),np
0,Leticia da Silva Jucoski,1,8,46,errado,205,6
1,Leticia da Silva Jucoski,2,20,53,errado,218,6
2,Leticia da Silva Jucoski,3,36,61,errado,162,7
3,Leticia da Silva Jucoski,4,2,3,errado,137,4
4,Leticia da Silva Jucoski,5,1,37,errado,196,6
...,...,...,...,...,...,...,...
75,Lorena Oliveira Pereira,36,2,22,errado,144,5
76,Lorena Oliveira Pereira,37,2,24,errado,148,6
77,Lorena Oliveira Pereira,38,8,38,errado,248,7
78,Lorena Oliveira Pereira,39,2,2,certo,79,5
79,Lorena Oliveira Pereira,40,2,20,errado,105,6

In [9]:
df.set_index("aluno_nome", inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, Leticia da Silva Jucoski to Lorena Oliveira Pereira
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   questao_num          80 non-null     int64
 1   resp_aluno           80 non-null     int32
 2   gabarito             80 non-null     int32
 3   certo_ou_errado      80 non-null     object
 4   tempo_na_questao(s)  80 non-null     int64
 5   np                   80 non-null     int64
dtypes: int32(2), int64(3), object(1)
memory usage: 3.1+ KB

### Somatórias

In [11]:
from itertools import combinations

alternativas = [1, 2 , 4, 8, 16, 32, 64]

d = {} 

j = 0
while j < len(alternativas):
    comb = combinations(alternativas, j)
    
    for i in list(comb):
        d.update({
            ';'.join(map(str, (i))) : int(sum(list(i)))
        })
    j += 1

In [12]:
possiveis_somas = pd.DataFrame(list(d.items()), columns = ['alternativas','soma']) 
possiveis_somas

       alternativas  soma
0                       0
1                 1     1
2                 2     2
3                 4     4
4                 8     8
..              ...   ...
122   1;2;4;8;32;64   111
123  1;2;4;16;32;64   119
124  1;2;8;16;32;64   123
125  1;4;8;16;32;64   125
126  2;4;8;16;32;64   126

[127 rows x 2 columns]

## Manipulação

In [13]:
def somatoria_resp(row):
    soma = row["resp_aluno"]
    assinaladas = possiveis_somas['alternativas'][soma == possiveis_somas['soma']]
    return str(assinaladas.values)

In [14]:
def somatoria_gab(row):
    soma = row["gabarito"]
    assinaladas = possiveis_somas['alternativas'][soma == possiveis_somas['soma']]
    return str(assinaladas.values)

In [15]:
df['assinaladas'] = df.apply(somatoria_resp, axis=1).astype(str)
df['alternativas_certas'] = df.apply(somatoria_gab, axis=1).astype(str)

In [16]:
df['assinaladas'] = df['assinaladas'].str.strip('[]') #.apply(lambda x: x.replace('[','').replace(']',''))
df['alternativas_certas'] = df['alternativas_certas'].str.strip('[]')

In [17]:
df

,questao_num,resp_aluno,gabarito,certo_ou_errado,tempo_na_questao(s),np,assinaladas,alternativas_certas
aluno_nome,,,,,,,,
Leticia da Silva Jucoski,1,8,46,errado,205,6,'8','2;4;8;32'
Leticia da Silva Jucoski,2,20,53,errado,218,6,'4;16','1;4;16;32'
Leticia da Silva Jucoski,3,36,61,errado,162,7,'4;32','1;4;8;16;32'
Leticia da Silva Jucoski,4,2,3,errado,137,4,'2','1;2'
Leticia da Silva Jucoski,5,1,37,errado,196,6,'1','1;4;32'
...,...,...,...,...,...,...,...,...
Lorena Oliveira Pereira,36,2,22,errado,144,5,'2','2;4;16'
Lorena Oliveira Pereira,37,2,24,errado,148,6,'2','8;16'
Lorena Oliveira Pereira,38,8,38,errado,248,7,'8','2;4;32'
Lorena Oliveira Pereira,39,2,2,certo,79,5,'2','2'
Lorena Oliveira Pereira,40,2,20,errado,105,6,'2','4;16'

In [18]:
def is_or_not_resp(row):
    for i in alternativas:
        df["resp_" + str(i)] = df['assinaladas'].apply(lambda x: 1 if str(i) in x else 0)

In [19]:
def is_or_not_gab(row):
    for i in alternativas:
        df["gab_" + str(i)] = df['alternativas_certas'].apply(lambda x: 1 if str(i) in x else 0)

In [20]:
df.apply(is_or_not_resp, axis=1)
df.apply(is_or_not_gab, axis=1)

aluno_nome
Leticia da Silva Jucoski    None
Leticia da Silva Jucoski    None
Leticia da Silva Jucoski    None
Leticia da Silva Jucoski    None
Leticia da Silva Jucoski    None
                            ...
Lorena Oliveira Pereira     None
Lorena Oliveira Pereira     None
Lorena Oliveira Pereira     None
Lorena Oliveira Pereira     None
Lorena Oliveira Pereira     None
Length: 80, dtype: object

regra de somatorias da ufsc
<img src="regra_somatoria.png">

In [21]:
def correction(row):
    
    npc = 0
    npi = 0
    ntpc = 0
    i = 0
    n = 0
    while n < row['np']:
        
        numero = alternativas[i]
        ntpc += int(row["gab_" + str(numero)])
        
        if row["gab_" + str(numero)] == row["resp_" + str(numero)] & row["resp_" + str(numero)] == 1:
            npc += 1
            # print("acertou" + str(row["gab_" + str(i)]) + str(row["resp_" + str(i)]))
        # df["gab_" + str(i)] = df['alternativas_certas'].apply(lambda x: 1 if str(i) in x else 0)
        elif row["gab_" + str(numero)] != row["resp_" + str(numero)] & row["resp_" + str(numero)] == 1:
            npi += 1
        n += 1
        i += 1
        
    
    if (npc > npi):
        p = (row['np'] - ntpc + npc - npi) / row['np']
    else:
        p = 0
    
    return round(p, 2)

In [22]:
df['pontuacao'] = df.apply(correction, axis=1)

In [23]:
# df['1'] = df['assinaladas'].apply(lambda x: 1 if '1' in x else 0)

In [24]:
df

,questao_num,resp_aluno,gabarito,certo_ou_errado,tempo_na_questao(s),np,assinaladas,alternativas_certas,resp_1,resp_2,...,resp_32,resp_64,gab_1,gab_2,gab_4,gab_8,gab_16,gab_32,gab_64,pontuacao
aluno_nome,,,,,,,,,,,,,,,,,,,,,
Leticia da Silva Jucoski,1,8,46,errado,205,6,'8','2;4;8;32',0,0,...,0,0,0,1,1,1,0,1,0,0.50
Leticia da Silva Jucoski,2,20,53,errado,218,6,'4;16','1;4;16;32',1,0,...,0,0,1,1,1,0,1,1,0,0.67
Leticia da Silva Jucoski,3,36,61,errado,162,7,'4;32','1;4;8;16;32',0,1,...,1,0,1,1,1,1,1,1,0,0.57
Leticia da Silva Jucoski,4,2,3,errado,137,4,'2','1;2',0,1,...,0,0,1,1,0,0,0,0,0,0.75
Leticia da Silva Jucoski,5,1,37,errado,196,6,'1','1;4;32',1,0,...,0,0,1,1,1,0,0,1,0,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lorena Oliveira Pereira,36,2,22,errado,144,5,'2','2;4;16',0,1,...,0,0,1,1,1,0,1,0,0,0.40
Lorena Oliveira Pereira,37,2,24,errado,148,6,'2','8;16',0,1,...,0,0,1,0,0,1,1,0,0,0.00
Lorena Oliveira Pereira,38,8,38,errado,248,7,'8','2;4;32',0,0,...,0,0,0,1,1,0,0,1,0,0.00
Lorena Oliveira Pereira,39,2,2,certo,79,5,'2','2',0,1,...,0,0,0,1,0,0,0,0,0,1.00
Lorena Oliveira Pereira,40,2,20,errado,105,6,'2','4;16',0,1,...,0,0,1,0,1,0,1,0,0,0.00

In [25]:
df.set_index(['aluno_nome', 'questao_num'], inplace=True)

KeyError: "None of ['aluno_nome'] are in the columns"

In [ ]:
df

não usado
for aluno in df.index.get_level_values(0):
    # assinalada = possiveis_somas[df.loc[aluno, "resp_aluno"] == possiveis_somas['soma']]
    df_aluno = df.loc[aluno, :]
    df_aluno.loc[:, "resp_aluno"] = df_aluno['resp_aluno']
    df_aluno.reset_index(inplace=True)
    
    for q in df_aluno['questao_num']:
        questao = df_aluno.loc[q, :]
        assinaladas = possiveis_somas['alternativas'][questao['resp_aluno'] == possiveis_somas['soma']]
        df_aluno['assinaladas'] = assinaladas
        #print(assinaladas)
        #print(df.loc[[aluno,q],:])
    #print(teste)
    
    #print(soma)

In [ ]:
# df_aluno

# Relatórios

In [ ]:
def _color_table_every_other(data):
    df = data.copy()
    n = len(df)
    df.iloc[range(0,n,2), :] = 'background-color: #f5f5dc'
    df.iloc[range(1,n,2), :] = 'background-color: #f0f0ce'
    df.iloc[-1,:] += '; font-weight: bold'
    return df

In [ ]:
from jinja2 import Environment, FileSystemLoader
from os import getcwd

env = Environment(loader=FileSystemLoader('.'))
template = env.get_template("template.html")

In [ ]:
# pra cada aluno
doc = {
    'document_title': 'Correção SIMUFSC 2021'
}
for aluno in df.index.get_level_values(0).unique():
    print(aluno)
    # a cada iteração, ele pega os dados correspondente ao 'aluno'
    doc['nome'] = aluno # nome do aluno
    doc['materias'] = []

    # questoes de cada aluno
    df_n_aluno = df.loc[aluno, :]
    print(df_n_aluno)
    df_n_aluno = df_n_aluno[['resp_aluno','gabarito']]
    
    # pra cada matéria:
    doc['notas'] = df_n_aluno

    
    # renderiza o html a partir do template e com as informações do dicionário
    html_out = template.render(doc)
    with open(f"html-alunos/{aluno.replace(' ', '_')}.html",'w') as file:
        file.write(html_out)